.chart {
	.bar {
		fill: steelblue;
	}

	.bar:hover {
		stroke: #000;
		stroke-width: 2px;
	}

	.axis {
		font: 10px sans-serif;
		path, line {
			fill: none;
			stroke: #000;
			shape-rendering: crispEdges;
		}
	}
}